<p id="notice"><%= notice %></p>


<h1>Listing Quotes</h1>
<div class="panel panel-primary">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Author</th>
      <th>Quote</th>
      <th>Background</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= link_to quote.author, quote, class: "cust-link" %></td>
        <td><%= link_to quote.quote, quote, class: "cust-link" %></td>
        <td><%= link_to quote.background, quote, class: "cust-link" %></td>
        <td><%= link_to 'Show', quote, class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote), class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Quote', new_quote_path, class: "btn btn-small btn-success" %>
